body {
    background-color: #000000;
    color: #EEEEEE;
    font-family: Consolas, monospace;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
  border-bottom: 1px solid #08CB00;
}

/* Style the links inside the navigation bar */
.topnav a, .topnav label {
  float: left;
  color: #08CB00;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 14px;
  font-family: Consolas, monospace;
  text-shadow: 0 0 5px #08CB00;
}

/* Change the color of links on hover */
.topnav a:hover, .topnav label:hover {
  background-color: #08CB00;
  color: #000000;
  text-shadow: none;
}

/* Add a color to the active/current link */
.topnav a.active, label.active {
  background-color: #08CB00;
  color: #000000;
}
.centered {
  position: fixed; top: 10%; left: 25%; z-index: 1000;
  width: 50%; height: 80%;
  background: #000000; color: #EEEEEE;
  border: 1px solid #08CB00;
  overflow: auto;
}

/* TweakPane theme */
:root {
  --tp-font-family: Consolas, monospace;
  --tp-base-background-color: #253900;
  --tp-button-background-color: #08CB00;
  --tp-button-background-color-active: #253900;
  --tp-button-background-color-focus: #08CB00;
  --tp-button-background-color-hover: #08CB00;
  --tp-button-foreground-color: #000000;
  --tp-label-foreground-color: #EEEEEE;
  --tp-input-background-color: #253900;
  --tp-input-foreground-color: #EEEEEE;
}
.gui-panel {
  position: absolute;
  right: 0;
  max-height: 100%;
  overflow-y: auto;
  border: 1px solid #08CB00;
  background-color: #000000;
}
.gui-panel::-webkit-scrollbar {
  width: 10px;
  background: #000000;
}
.gui-panel::-webkit-scrollbar-thumb {
  background: #08CB00;
}
.tp-rotv {
  text-shadow: 1px 1px #000;
}
.tp-rotv button {
  text-shadow: inherit;
}

#ai-prompt-container {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #08CB00;
    box-shadow: 0 0 15px #08CB00;
    z-index: 2000;
    display: none; /* Initially hidden */
}

#ai-prompt-input {
    width: 600px;
    background-color: #253900;
    border: 1px solid #08CB00;
    color: #EEEEEE;
    padding: 8px;
    border-radius: 0;
    font-family: Consolas, monospace;
}

#ai-prompt-input:focus {
    outline: none;
    border-color: #08CB00;
    box-shadow: 0 0 10px #08CB00;
}
